// colors

$color-1: #333333; // main text
$color-2: #62c169; // anchor tags
$color-3: #ffffff; // body background color

// fonts 

//$primary-font: sans-serif;


// colors

$color-1: #021725; // blue
$color-2: #e36767; // red
$color-3: #fff; // white

// fonts

$primary-font: 'Source Sans Pro', Helvetica, sans-serif;

//header height

$header-height-S: 50px;
$header-height-M: 80px;


